$theme-panel-bg-color: #3b5999;
$primary-color : #3b5999;
$c-white: #fff;
$c-blue-light: #6e83b8;
$c-blue: #3b5999;
$c-blue-old: #0b2f7b;
$general-img-path : '/vendor/core/images/';
$general-font-path : '/vendor/core/fonts/';
$c-grey-dark : #9b9b9b;
$c-grey : #ddd;
$c-grey-light : #f5f5f5;
$c-green : #016e36;

$red : #d9534f !default;
$orange : #f0ad4e !default;
$green : #5cb85c !default;
$blue : #3b5999 !default;
$teal : #5bc0de !default;

$brand-primary : $blue !default;
$brand-success : $green !default;
$brand-info : $teal !default;
$brand-warning : $orange !default;
$brand-danger : $red !default;

$page-footer-height: 33px !default;
$footer-default-font-color: #fff;