#svg {
	-webkit-transition: height 1s; 
	-moz-transition: height 1s; 
	-ms-transition: height 1s; 
	-o-transition: height 1s; 
	transition: height 1s;  
}

svg {
	-webkit-transition: height 1s; 
	-moz-transition: height 1s; 
	-ms-transition: height 1s; 
	-o-transition: height 1s; 
	transition: height 1s;  
}
